body{
margin-top: 1%;
padding: 0px;
font-size: 19px;
background-image: linear-gradient( rgba(13, 13, 14, 0.7)50%, rgba(13, 13, 14, 0.7)50% ),
 url(istockphoto-1305990690-1024x1024.jpg) ;
background-size: cover;
background-attachment: fixed;
background-position: center;
color: white;
text-shadow: 2px 2px black;
}       
h1{
    text-align: center;
    
}


.nav{
    display: flex;
    color: aqua;

}

.nav1 img{
    width: 60px;
    
}
.nav1 img:hover{
    width: 70px;
transition: 0.3s;
}
.nav2 ul li{
    margin: 0 10px;
    list-style-type: none;
    float: left;
    padding: 5px;
   
}
.nav2 ul li:hover{

    background-size: cover;

}
a{
color: white;
text-decoration: none;
}
a:hover{
color: orangered;
transition: 0.3s;
width: 60px ;
}
.active{

border-radius: 10px;
color: grey;
} 
button{
border-radius: 5px;

}
